// Body
$body-bg: #f8fafc;
$blue: #005751;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-rounded:true;
$btn-border-radius: 0.15rem;
$btn-border-radius-lg: 0.15rem;
