@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=National+Park:wght@200..800&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'National Park', ui-sans-serif, system-ui, serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --color-primary: #1B75AE;
    --color-secondary: #0077B6;
    --color-success: #28A745;
    --color-info: #17A2B8;
    --color-warning: #FFC107;
    --color-danger: #DC3545;
    --color-light: #F8F9FA;
    --color-muted: #343A40;
}




